name: tests

on: [ pull_request ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        php: [ 7.2.5, 8.0 ]
        laravel: [ 6.*, 8.*, ^9.33 ]
        testbench: [ ^4.0, ^6.6, ^7.0 ]
        stability: [ prefer-lowest, prefer-stable ]
        exclude:
          - php: 7.2.5
            laravel: 8.*
          - php: 7.2.5
            laravel: ^9.33
          - php: 7.2.5
            testbench: ^6.6
          - php: 7.2.5
            testbench: ^7.0
          - laravel: 6.*
            testbench: ^6.6
          - laravel: 6.*
            testbench: ^7.0
          - laravel: 8.*
            testbench: ^4.0
          - laravel: 8.*
            testbench: ^7.0
          - laravel: ^9.33
            testbench: ^4.0
          - laravel: ^9.33
            testbench: ^6.6

    name: php-${{ matrix.php }} - laravel-${{ matrix.laravel }} - testbench-${{ matrix.testbench }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, fileinfo
          coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update --dev
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/phpunit
